@import '@/styles/theme';
@import '@/styles/mixins';

.cover {
  height: 100%;

  display: flex;
  align-items: center;
  width: 100vw;
  margin: 0 0 20px 0;

  @include breakpoint(small) {
    width: auto;
  }

  .content {
    color: $primary;
  }

  .__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $overlay;
    z-index: 10;
  }

  .image__info {
    max-width: 50%;
    padding: 20px;
    @include breakpoint(small) {
      max-width: 100%;
    }

    h1 {
      font-family: $font-family-paragraph;
      font-weight: bolder;
      font-size: 42px;
      letter-spacing: 5.88px;
      color: $bg-hero-text;

      @include breakpoint(small) {
        font-size: 20px;
        padding: 20px;
      }
    }

    p,
    h2 {
      font-family: $font-family-heading;
      color: $bg-hero-text;
      font-size: $bg-hero-text-size;
      @include breakpoint(small) {
        font-size: 15px;
        padding: 20px;
      }
    }
  }
}

.buttons {
  margin-top: 50px;

  @include breakpoint(small) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    color: white;
    margin: 20px 10px 0 10px;
    padding: 15px 20px;
    font-weight: normal;
    letter-spacing: 1.2px;
    transition: 0.2s ease-in-out;

    @include breakpoint(small) {
      width: 250px;
    }

    &:nth-child(1) {
      background: #263568;
      border: 2px solid #263568;
      &:hover {
        background: $bg-button-hover;
        border-color: $bg-button-hover;
      }
    }

    &:nth-child(2) {
      border: 2px solid white;
      &:hover {
        background: $bg-button-hover;
        border-color: $bg-button-hover;
      }
    }
  }
}
