.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3a3a3a;
  position: fixed;
  color: white;
  top: 0;
  bottom: 0;
  z-index: 99;
}
