@import '@/styles/theme';
@import '@/styles/mixins';

.footer {
  font-family: $font-family-heading;
  background: $bg-footer;
  margin-top: 50px;

  .navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(small) {
      flex-direction: column;
    }

    a {
      color: $text-footer;
      font-size: 12px;
      padding: 20px 30px 0 30px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 1.2px;
      @include breakpoint(small) {
        margin-top: 10px;
      }
    }
  }

  .header__line {
    display: flex;
    align-items: center;
    justify-content: space-around;

    h3 {
      font-size: 15px;
      letter-spacing: 2.1px;
      font-weight: 500;
      @include breakpoint(small) {
        font-size: 12px;
        padding: 0 2px;
      }
    }

    .line {
      width: 32px;
      height: 0;
      border: 1px solid $text-footer;
    }
  }

  h2 {
    letter-spacing: 3.92px;
    font-size: 28px;
    font-weight: 500;
    @include breakpoint(small) {
      font-size: 20px;
    }
  }

  .socials {
    font-size: $socialSize;
    a {
      color: $text-footer;
      font-family: $font-family-heading;
      border-bottom: 1px solid gold;
      padding-bottom: 5px;
      font-style: italic;
    }

    p {
      color: $text-footer;
      font-family: $font-family-heading;
      font-style: italic;
    }
    svg {
      font-size: 25px;
      margin: 10px;
    }
  }

  .footer__info {
    h2 {
      font-family: $font-family-heading;
      font-size: 12px;
      letter-spacing: 1.2px;
    }
    .contanct__info {
      border: 1px solid black;
      @include breakpoint(small) {
        flex-wrap: wrap;
        justify-content: center;
      }
      h3 {
        border-left: 1px solid $text-footer;
        font-family: $font-family-heading;
        padding: 5px 10px;
        font-size: $footerContact;

        @include breakpoint(small) {
          border: none;
        }

        &:nth-child(1) {
          border-left: none;
        }

        &:nth-child(3) {
          letter-spacing: 1.5px;
          font-family: $font-family-paragraph;
        }
      }
    }
  }

  .copywrite__ {
    letter-spacing: 1px;
    color: $text-footer;
    font-size: 10px;
    font-weight: 500;
    padding: 0px 50px 20px 0;
    @include breakpoint(small) {
      padding: 50px 0;
    }
  }
}
