// Theme Palettes
$background: #fefefe;
$secondary__background: #0a0a0a;
$primary: #3a3a3a;
$secondary: #3a3a3a;
$font-family-heading: 'Exo 2', sans-serif;

// Size

$title: 70px;
$heading: 30px;
$small_header: 25px;
$smallest_header: 18px;
$paragraph: 16px;

// Main Menu
$textColor: '#3a3a3a';
$textHover: '#3a3a3a';

// blocks
$overlay: rgba(0, 0, 0, 0.2);

// Link
$link: #fefefe;

// footer

$bg-footer: #3a3a3a;
$text-footer: #fefefe;
$socials-footer: #fefefe;
$bg-socials-footer: #121212;
