@import './veriables';
@import './theme';
@import './mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

h2,
h3,
h4,
h5 {
  color: $primary;
  font-family: $font-family-paragraph;
}

h1 {
  font-size: $title;
  color: $primary;
  font-family: $font-family-heading;
}

a {
  font-size: 15px;
  font-weight: bold;
  font-family: $font-family-href;
  color: $link;
}

.alink {
  color: $background;
}

p {
  color: $secondary;
  z-index: 10;
  font-family: $font-family-paragraph;
  @include breakpoint(small) {
    font-size: 18px;
  }
}

body {
  background: $background;
}

.button {
  a {
    font-family: $font-family-href;
    text-transform: uppercase;
    color: $bg-button-text;
    max-width: 150px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    padding: 10px 20px;
    background: $bg-button;

    &:hover {
      background: $bg-button-hover;
    }
  }
}

.columnfull {
  width: 100%;
}

.columnhalf {
  width: 48%;
  justify-content: center;
  gap: 20px;
}

.columnthird {
  width: 30%;
}

/* Custom CSS */

// Carousel
.uniq__carousel {
  .carousel {
    .thumbs-wrapper {
      margin: 20px 0 !important;
    }

    ul.thumbs.animated {
      display: flex;
      gap: 5px;
      @media screen and (max-width: 768px) {
        display: inline-block;
      }
    }

    .thumb {
      margin-right: 0 !important;
      border: none !important;
      display: flex;
      gap: 10px;
      @media screen and (max-width: 768px) {
        display: inline-block;
      }
      .selected {
        border: none !important;
      }
    }
  }
}

// NProgress

#nprogress .bar {
  background: $subtitle !important;
  background-color: $subtitle !important;
  height: 2px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $subtitle, 0 0 5px $subtitle;
}

#nprogress .spinner-icon {
  border-top-color: $subtitle !important;
  border-left-color: $subtitle !important;
  position: fixed;
  bottom: 30px;
  right: 25px;
}

// Matine Accordion Component

.mantine-Accordion-itemTitle,
.mantine-Accordion-label,
.mantine-Accordion-content {
  font-family: $font-family-heading;
  padding-left: 0;
}

.mantine-Accordion-label {
  font-weight: normal;
  letter-spacing: 1.2px;
  font-size: $smallLink;
}

.mantine-Accordion-item {
  border-bottom: 0.3 solid #000000;

  button {
    padding-left: 0;
    &:hover {
      background-color: transparent;
    }
  }

  .mantine-Accordion-chevron {
    font-size: 20px;
    svg {
      stroke-width: 30px;
      height: 15px;
      width: 15px;
    }
  }

  svg {
    color: $subtitle;
  }
}

// Matrine Table

tr,
td {
  font-family: $font-family-heading;

  p {
    font-family: $font-family-heading;
  }
}
