@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@300;400;500;600&display=swap');
@import './veriables';
@import './theme';

@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3,
h4,
h5 {
  color: $primary;
  font-family: $font-family-paragraph;
}

h1 {
  font-size: $title;
  color: $primary;
  font-family: $font-family-heading;
}

a {
  font-size: 15px;
  font-weight: bold;
  font-family: $font-family-href;
  color: $link;
}

.alink {
  color: $background;
}

p {
  color: $secondary;
  z-index: 10;
  font-family: $font-family-paragraph;
}

body {
  background: $background;
}

.button {
  a {
    background: $bg-button;
    color: $bg-button-text;
    padding: 10px 20px;
    max-width: 150px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    font-family: $font-family-href;
  }
}

.columnfull {
  width: 100%;
}

.columnhalf {
  width: 48%;
  justify-content: center;
  gap: 20px;
}

.columnthird {
  width: 30%;
}
